In [6]:
examples = {}
examples['S'] = examples.get('S', []).append(1)
examples['S'] = examples.get('S', []).append(2)
examples

AttributeError: 'NoneType' object has no attribute 'append'

In [8]:
from collections import defaultdict

examples = defaultdict(list)

In [10]:
examples['S'].append(1)
examples['S'].append(2)
examples['S']

[1, 2]

In [15]:
import pandas as pd
df = pd.DataFrame([[1, 0], [2, 3]])
df

   0  1
0  1  0
1  2  3

In [17]:
%%capture cap
print("Hello")
display(df)

In [14]:
vars(cap)

{'_stdout': <_io.StringIO at 0x1bafdaabca8>,
 '_stderr': <_io.StringIO at 0x1bafdaabc18>,
 '_outputs': []}

In [18]:
cap.show()

Hello

   0  1
0  1  0
1  2  3

In [22]:
cap.stdout

'Hello\n'

In [20]:
cap._stdout()

TypeError: '_io.StringIO' object is not callable

In [23]:
my_dict = {'a' : 1, 'b' : 2}

In [28]:
pd.DataFrame([(k, v) for k, v in my_dict.items()])

   0  1
0  a  1
1  b  2

In [32]:
pd.DataFrame(my_dict.keys(), columns = ['jako'])

  jako
0    a
1    b

In [34]:
pd.DataFrame([c for c in 'ABCDEFG'], columns = ['jako'])

  jako
0    A
1    B
2    C
3    D
4    E
5    F
6    G

In [25]:
pd.DataFrame.from_dict(my_dict)

ValueError: If using all scalar values, you must pass an index