In [9]:
%%cmd
git add basics.ipynb
git commit -m "Some comment"
git push

UsageError: Cell magic `%%cmd` not found.

In [ ]:
examples = {}
examples['S'] = examples.get('S', []).append(1)
examples['S'] = examples.get('S', []).append(2)
examples

In [ ]:
from collections import defaultdict

examples = defaultdict(list)

In [ ]:
examples['S'].append(1)
examples['S'].append(2)
examples['S']

In [6]:
import pandas as pd
df = pd.DataFrame([[1, 0], [2, 3]])
df

   0  1
0  1  0
1  2  3

In [ ]:
%%capture cap
print("Hello")
display(df)

In [ ]:
vars(cap)

In [ ]:
cap.show()

In [ ]:
cap.stdout

In [ ]:
cap._stdout()

In [7]:
my_dict = {'a' : 1, 'b' : 2}
pd.DataFrame([(k, v) for k, v in my_dict.items()])

   0  1
0  a  1
1  b  2

In [ ]:
pd.DataFrame(my_dict.keys(), columns = ['jako'])

In [ ]:
pd.DataFrame([c for c in 'ABCDEFG'], columns = ['jako'])

In [ ]:
#pd.DataFrame.from_dict(my_dict) # ValueError: If using all scalar values, you must pass an index
pd.DataFrame(my_dict, index=['value']).T

In [ ]:
globals()['In'][10]

In [ ]:
globals()['Out'][10]

In [8]:
for ind, _input in enumerate(globals()['In']):
    if ind in globals()['Out']:
        print(ind)
        print(_input)
        _output = globals()['Out'][ind]
        display(_output)
#    else:
#        print("No output")

6
import pandas as pd
df = pd.DataFrame([[1, 0], [2, 3]])
df

   0  1
0  1  0
1  2  3

7
my_dict = {'a' : 1, 'b' : 2}
pd.DataFrame([(k, v) for k, v in my_dict.items()])

   0  1
0  a  1
1  b  2

In [ ]:
[(k, v) for (k, v) in globals().items() if k.startswith('_i') and k != '_ih']

In [ ]:
pd.DataFrame(my_dict, index=[0])
#pd.DataFrame({'A':2,'B':3}, index=[0])